{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="wrapper">
{% if items | length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.movie.imdbId}}</td>
                <td>{{ item.movie.price}} € </td>
                <td>{{ item.quantity}}</td>
                <td>{{ item.movie.price * item.quantity}} €</td>
                <td>
                    <a href="{{ path('cart_remove' , {'id' : item.movie.id})}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('cart_add' , {'id' : item.movie.id})}}">
                        <i class="fas fa-cart-plus"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('cart_delete' , {'id' : item.movie.id})}}">
                        <i class="fas fa-cart-arrow-down"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total :</td>
                <td>{{ total }}€</td>
            </tr>
        </tfoot>
    </table>
{% else %}
<p>Surprise, c'est vide !</p>
{% endif %}
</div>
{% endblock %}