{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}



Welcome you are logged in as {{ app.user.username }},<button><a href="{{ path('app_logout') }}">Logout</a></button> 

<div class="index__banner">
    <h1>Blablabla</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non illo aliquid accusantium dolorem ex! Beatae numquam, sint dolor officiis quod, obcaecati porro, voluptas quam aperiam a vitae vero? Esse, quibusdam!</p>
</div>
<div class="index__second-section">
    <h1><i class="fas fa-film"></i> Des films à succès</h1>
    <div id="carousel" class="second-section__popular-movies">
        {% for movie in popularMovies %}
        <a href="movie/{{ movie.id }}" class="popular-movies__movie">
            <img src="{{ movie.image }}" alt="Affiche du film">
            <div class="movie__info">
                <h3>{{ movie.title }} <span class="movie__year">{{ movie.year }}</span></h3>
                <i class="fas fa-star"></i>
                <span>{{ movie.imDbRating }}</span>
                <p>{{ movie.plotLocal|length > 150 ? movie.plotLocal|slice(0, 150) ~ '...' : movie.plotLocal }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
